<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/styles/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div id="myData">
        <div class="col" >
            <div class="card" style="width: 18rem; height: 35rem; margin:30px">
                <form method="post" action="create_note">
                    <div class="card-body">
                        <label for="exampleFormControlInput1" class="form-label"><h1>Note title</h1></label>
                        <input type="text" class="form-control" name="note_topic">
                    </div>
                    <div class="card-body">
                        <label for="exampleFormControlTextarea1" class="form-label"><h4>Enter your note</h4></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" type="text" name="note"></textarea>
                    </div>
                    <div class="card-body">
                        <input class="btn btn-success btn-lg px-4" type="submit" value="Create note">
                    </div>
                    <br>
                    <div class="card-body">
                        <a href="http://127.0.0.1:5000/" class="btn btn-primary btn-lg px-4">Home</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <script>
        
        fetch('http://127.0.0.1:5000/my_notes')
                
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                appendData(data);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        function appendData(data) {
            var mainContainer = document.getElementById("myData");
            mainContainer.className = 'row row-cols-3 row-cols-md-3 g-4';
            for (var i = 0; i < data.length; i++) {

                var Outerdiv = document.createElement('div');
                Outerdiv.className = 'col';
                
                var InnerDiv = document.createElement('div');
                InnerDiv.className = 'card';
                InnerDiv.setAttribute("style","width:18rem; height:35rem; margin:30px");
                
                document.getElementsByTagName('body')[0].appendChild(InnerDiv);

                var BodyDiv = document.createElement('div');
                BodyDiv.className = 'card-body';
                BodyDiv.innerHTML = '<h1>'+data[i].note_topic+'</h1>' +  '<h4>'+data[i].note+'</h4>';
               
                mainContainer.appendChild(Outerdiv);
                Outerdiv.appendChild(InnerDiv);
                InnerDiv.appendChild(BodyDiv);
   
            }
        }

    </script>
</body>
</html>

