<!DOCTYPE html>
<html lang="en">
<head>
   
    <link rel="stylesheet" type="text/css" href="static/styles/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
</head>

<body>
    <div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <form method="post" action="create_note">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Note title</label>
                    <input type="text" class="form-control" name="note_topic">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Enter your note</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" type="text" name="note"></textarea>
                </div>
                <div class="input-group-append">
                    <input class="btn btn-success" type="submit" value="Create note">
                </div>
                <br>
                <div class="mb-5">
                    <a href="http://127.0.0.1:5000/" class="btn btn-primary">Home</a>
                </div>
            </form>
        </div>
    </div>
</div>

    <script>
        
        fetch('http://127.0.0.1:5000/my_notes')
                
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                appendData(data);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        function appendData(data) {
            var mainContainer = document.getElementById("myData");
            for (var i = 0; i < data.length; i++) {
                
                var iDiv = document.createElement('div');

                iDiv.id = 'myData';
                iDiv.className = 'container';
                document.getElementsByTagName('body')[0].appendChild(iDiv);

                // Now create and append to iDiv

                var innerDiv3 = document.createElement('div');
                innerDiv3.className = 'row'

                var innerDiv = document.createElement('div');
                innerDiv.className = 'col';

                var innerDiv2 = document.createElement('div');
                innerDiv2.innerHTML = 'Note Topic: ' + data[i].note_topic + ' Note: ' + data[i].note;
                innerDiv2.className = 'card';
                
                
                // The variable iDiv is still good... Just append to it.
                
                iDiv.appendChild(innerDiv3);
                innerDiv3.appendChild(innerDiv);
                innerDiv.appendChild(innerDiv2);
            }
        }



        
    </script>
</body>
</html>

