<head>
  <link rel="stylesheet" type="text/css" href="static/styles/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
          <h1>Noted</h1>
        </a>
      </header>
      <main>
        <h1>Welcome, {User}</h1>
        <p>Start using Noted to create personal notes.</p>
        <div class="mb-5">
          <a href="http://127.0.0.1:5000/all_notes" class="btn btn-primary btn-lg px-4">Create your first note</a>
        </div>
        <div class="mb-5">
          <a href="http://127.0.0.1:5000/all_notes" class="btn btn-success btn-lg px-4">View your notes</a>
        </div>
      </main>
      <footer class="pt-5 my-5 text-muted border-top"></footer>
    </div>
  </div>
  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>