<head>
    <link rel="stylesheet" type="text/css" href="static/styles/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <form method="post" action=".">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Note title</label>
                <input type="text" class="form-control" name="note_topic">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Enter your note</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" type="text" name="note"></textarea>
            </div>
            <div class="input-group-append">
                <input class="btn btn-success" type="submit" value="Create note">
            </div>
        </form>
    </div>
</div>